.topo{
    padding-top:5px;
}

footer {
    text-align:center;
    left: 0px;
    position:fixed;
    bottom:0px;
    width:100%;
}

.header{
    text-align:center;
    background-color:#8ad3f7;
	padding-top: 10px;
	padding-bottom: 10px;
}

